section{
	background-color: #f7f7f7;
}

h2{
	font-size: 1.8rem;
}

.technology{
	transition: 0.2s;
}

.technology:hover{
	transform: scale(1.2);
}

.screenshot{
	width: 100%;
}


a.btn-outline-primary{
	color: black;
	border-color: black;

}

a.btn-outline-primary:hover{
	background-color: #00aeef;
    border-color: #00aeef;
    color: white;
    transition: 0.3s;
}

.screenshot-wrapper{
	width: 100%;
	padding-bottom: 56.25%;
	position: relative;
	/*background: linear-gradient(155deg, #d7f7ff 6%, #ffedfa 88%);*/
	background: #3e3e3e;
}


.screenshot-wrapper img{
	width: 100%;
	position: absolute;
	top: 0;
	left:0;
	opacity: 0;
	transition: 0.2s;
}

.screenshot-wrapper img:hover{
	opacity: 0.5 !important;
}