<header class="container text-center my-3">
	<div class="row">
		
		<!-- Logo -->
		<div class="col-12 col-lg-5 my-auto">
			<a routerLink="">
				<img class="logo" src="assets/svg-icons/logo.svg">
			</a>
		</div>
		
		<!-- Menu -->
		<div class="d-none d-md-block col-12 col-lg-7">
			<ul class="menu">
				<li>
					<div class="link-wrapper">
						<a routerLink="" class="custom-underline">Home</a>
					</div>
				</li>
				<li>
					<div class="link-wrapper">
						<a routerLink="" [ngx-scroll-to]="'#about-me'" class="custom-underline">About me</a>
					</div>
				</li>
				<li>
					<div class="link-wrapper">
						<a routerLink="/assets/svg-icons/resume.pdf" class="custom-underline" target="_blank">My CV</a>
					</div>
				</li>
				<li>
					<div class="link-wrapper">
						<a routerLink="blog" class="custom-underline">Blog</a>
					</div>
				</li>
				<li>
					<div class="link-wrapper">
						<a routerLink="" [ngx-scroll-to]="'#contact'" class="custom-underline">Contact</a>
					</div>
				</li>
			</ul>

			<div class="info-item text-center d-inline-block">
				<svg class="icon">
					<use xlink:href="assets/svg-icons/sprite.svg#location"></use>
				</svg><br/>
				<strong>Location</strong><br/>
				<span>Sydney, Australia</span>
			</div>

			<div class="info-item text-center d-inline-block">
				<svg class="icon">
					<use xlink:href="assets/svg-icons/sprite.svg#phone"></use>
				</svg><br/>
				<strong>Phone</strong><br/>
				<span>0410847718</span>
			</div>

			<div class="info-item text-center d-inline-block">
				<svg class="icon">
					<use xlink:href="assets/svg-icons/sprite.svg#email"></use>
				</svg><br/>
				<strong>Email</strong><br/>
				<a href="mailto:pnhdevelopment@gmail.com">
					<span>pnhdevelopment@gmail.com</span>
				</a>
			</div>

			<div class="info-item text-center d-inline-block">
				<svg class="icon">
					<use xlink:href="assets/svg-icons/sprite.svg#git"></use>
				</svg><br/>
				<strong>Github</strong><br/>
				<a href="https://github.com/pnhdevelopment">
					<span>github.com/pnhdevelopment</span>
				</a>
			</div>


		</div>
	</div>
</header>

<app-navbar></app-navbar>