<footer class="py-3">
	
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-5 my-auto text-center">
				<a routerLink="">
					<img class="logo" src="assets/logo.svg">
				</a>
			</div>

			<div class=" col-12 col-lg-7">
				<ul class="menu text-center text-lg-right">

					<li>
						<div class="link-wrapper">
							<a routerLink="" class="custom-underline">Home</a>
						</div>
					</li>

					<li>
						<div class="link-wrapper">
							<a [ngx-scroll-to]="'#about-me'" routerLink="" class="custom-underline">About me</a>
						</div>
					</li>

					<li>
						<div class="link-wrapper">
							<a routerLink="/assets/resume.pdf" class="custom-underline" target="_blank">My CV</a>
						</div>
					</li>

					<li>
						<div class="link-wrapper">
							<a routerLink="blog" class="custom-underline">Blog</a>
						</div>
					</li>

					<li>
						<div class="link-wrapper">
							<a [ngx-scroll-to]="'#contact'" routerLink="" class="custom-underline">Contact</a>
						</div>
					</li>

				</ul>

				<p class="text-center text-lg-right px-3">
					Built with
					<svg class="icon">
						<use xlink:href="assets/svg-icons/sprite.svg#angular"></use>
					</svg>
				</p>

				
				
			</div>
		</div>
	</div>

</footer>

