footer{
	background-color: #f7f7f7;
}

.logo{
	max-width: 270px;
}

.menu{
	list-style-type: none;
	margin: 0;
    padding: 0;
}

.menu a{
	text-decoration: none;
}


.menu li{
	display: inline-block;
	padding: 1rem;
	text-transform: uppercase;
}



/* Menu link underline effects */

.normal-underline,
.custom-underline {
  position: relative;
  display: inline-block;
  font-weight: 400;
  text-align: center;
}

.custom-underline {
  color: black;
  text-decoration: none;
  transition: 0.2s;
}

.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  color: #00aeef;
  text-decoration: none;
}

  
.custom-underline::after {
  content: "";
  position: absolute;
}

.link-wrapper{
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.link-wrapper .custom-underline::after {
    top: 65%;
    height: 2px;
    width: 40%;
    left: 30%;
    background-color: black;
    transition: 0.2s;
    margin-top: 0.8rem;
}

.link-wrapper:hover .custom-underline::after {
  width: 90%;
  left: 5%;
  transition: 0.2s;
  background-color: #00aeef;
}
