<section id="about-me" class="container text-center py-2">
	
	<div class="py-2">
		<h1>About me</h1>

		<div class="subtitle fancy">
		    <span>
		    	<img class="icon" src="assets/svg-icons/circle.svg">
		    </span>
		</div>
	</div>
	
	<p>I am a professional web developer with over a years' worth of experience. I'm a self-described freelance web programmer and internet guru. I build beautifully crafted high-performance sites. I'm passionate about building visually appealing well coded websites and I'm always excited to get started on the next awesome project! I am always on the lookout for the latest technologies to produce sites that will work on every mobile, tablet or desktop. I am fluent in CSS, JavaScript, React, Angular and Bootstrap.</p>

	<p>When I am not coding, you can find me reading a good book, hitting the gym, riding my bike around town, going on hikes or surfing the net.</p>

</section>