<!-- Mobile navbar -->
<nav class="d-md-none my-1 p-2 mb-3">
	<span id="toggleIcon" (click)="openNav()">
		<div></div>
		<div></div>
		<div></div>
	</span>
</nav>


<!-- Mobile sidebar -->
<div id="mySidenav" class="sidenav">
  
  <!-- Close button -->
  <a class="closebtn" (click)="closeNav()">&times;</a>

  
  <!-- Links -->
  <div class="link-wrapper d-inline-block">
    <a routerLink="/" class="custom-underline" (click)="closeNav()">Home</a>
  </div><br />

  <div class="link-wrapper d-inline-block">
    <a routerLink="about" class="custom-underline" (click)="closeNav()">About me</a>
  </div><br />

  <div class="link-wrapper d-inline-block">
    <a routerLink="/assets/resume.pdf" class="custom-underline" (click)="closeNav()">My CV</a>
  </div><br />

  <div class="link-wrapper d-inline-block">
    <a routerLink="blog" class="custom-underline" (click)="closeNav()">Blog</a>
  </div><br />
 

  <!-- Personal info -->
  <div class="info-item text-center d-block my-3">
    <svg class="icon">
      <use xlink:href="assets/svg-icons/sprite.svg#location"></use>
    </svg><br/>
    <strong>Location</strong><br/>
    <span>Sydney, Australia</span>
  </div>

  <div class="info-item text-center d-block my-3">
    <svg class="icon">
      <use xlink:href="assets/svg-icons/sprite.svg#phone"></use>
    </svg><br/>
    <strong>Phone</strong><br/>
    <span>0451886213</span>
  </div>

  <div class="info-item text-center d-block my-3">
    <svg class="icon">
      <use xlink:href="assets/svg-icons/sprite.svg#email"></use>
    </svg><br/>
    <strong>Email</strong><br/>
    <a href="mailto:pnhdevelopment@gmail.com">
      <span>pnhdevelopment@gmail.com</span>
    </a>
  </div>

  <div class="info-item text-center d-block my-3">
    <svg class="icon">
      <use xlink:href="assets/svg-icons/sprite.svg#git"></use>
    </svg><br/>
    <strong>Github</strong><br/>
    <a href="https://github.com/pnhdevelopment">
      <span>github.com/pnhdevelopment</span>
    </a>
  </div>

</div>



<!-- Dark overlay -->
<div id="overlay"></div>


