<section class="container text-center py-2">
	
	<div class="py-2">
		<h1>404 - Page not found</h1>
		<div class="underline">
			<img class="icon" src="assets/svg-icons/circle.svg">

			<svg class="icon">
				<use attr.xlink:href="assets/svg-icons/sprite.svg#circle"></use>
			</svg>

		</div>
	</div>
	
	<p>I am a professional web developer with over a years' worth of experience. I build beautifully crafted high-performance sites. I am always on the lookout for the latest technologies to produce sites that will work on every mobile, tablet or desktop.</p>

</section>