<section id="contact" class="text-center mb-4">
	
	<div class="my-3">
		<h1>Contact me</h1>
		<div class="subtitle fancy">
	    	<span>
	    		<img class="icon" src="assets/svg-icons/circle.svg">
	    	</span>
		</div>
	</div>

	<svg class="icon">
		<use xlink:href="assets/svg-icons/sprite.svg#phone"></use>
	</svg>
	<p>0410847718</p>
	
	<svg class="icon">
		<use xlink:href="assets/svg-icons/sprite.svg#email"></use>
	</svg>
	<p>
		<a href="mailto:pnhdevelopment@gmail.com">
			pnhdevelopment@gmail.com
		</a>
	</p>

</section>


