<section class="container">
	
	<div class="my-3">
		<h1 class="text-center">My Skills</h1>
		<div class="underline">
			<img class="icon" src="assets/circle.svg">
		</div>
	</div>

	<div class="row">

		<div class="col-md-6">
			<table class="table">
			  <tbody>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#wordpress"></use>
						</svg>
					</td>
					<td>Wordpress</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#linux"></use>
						</svg>
					</td>
					<td>Linux</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#mac"></use>
						</svg>
					</td>
					<td>Mac</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#sass"></use>
						</svg>
					</td>
					<td>SASS</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#angular"></use>
						</svg>
					</td>
					<td>Angular 5</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#css"></use>
						</svg>
					</td>
					<td>CSS3</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#rails"></use>
						</svg>
					</td>
					<td>Ruby on Rails</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#bootstrap"></use>
						</svg>
					</td>
					<td>Bootstrap</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#javascript"></use>
						</svg>
					</td>
					<td>Javascript</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			     <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#jquery"></use>
						</svg>
					</td>
					<td>JQuery</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		
		<div class="col-md-6">
			<table class="table">
			  <tbody>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#illustrator"></use>
						</svg>
					</td>
					<td>Illustrator</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#photoshop"></use>
						</svg>
					</td>
					<td>Photoshop</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#php"></use>
						</svg>
					</td>
					<td>PHP7</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>

			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#asp"></use>
						</svg>
					</td>
					<td>ASP.NET</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#git"></use>
						</svg>
					</td>
					<td>Git & Github</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#foundation"></use>
						</svg>
					</td>
					<td>Foundation</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#gulp"></use>
						</svg>
					</td>
					<td>Gulp</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			    <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#nodejs"></use>
						</svg>
					</td>
					<td>NodeJS</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			     <tr>
					<td>
						<svg class="icon">
							<use xlink:href="assets/sprite.svg#reactjs"></use>
						</svg>
					</td>
					<td>ReactJS</td>
					<td class="text-center">
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot"><use xlink:href="assets/sprite.svg#dot"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
						<svg class="dot-open"><use xlink:href="assets/sprite.svg#dot-open"></use></svg>
					</td>
			    </tr>
			  </tbody>
			</table>
		</div>


	</div>

</section>






