<section id="tick-boxes" >
	<div class="container">

		<div class="my-3">
			<h1 class="text-center">My sites tick all the boxes</h1>
			
			<div class="subtitle fancy">
		    	<span>
		    		<img class="icon" src="assets/circle.svg">
		    	</span>
			</div>

		</div>

		<div class="row">

			<div class="col-lg-6">
				<div class="text-center" >
					<img src="/assets/seo.svg" class="icon">
					<h2>SEO</h2>
				</div>
				<ul>
					<li>Well chosen keywords</li>
					<li>Well written content</li>
					<li>Human readable urls</li>
					<li>No dead links</li>
					<li>Ability to navigate around the entire page via links</li>
					<li>Use robots.txt file</li>
					<li>Use sitemap.xml file</li>
					<li>Use description and content meta tags</li>
					<li>Semantic HTML</li>
					<li>Images are not larger than necessary</li>
					<li>Mobile and tablet friendly design</li>
					<li>Meaningful 404 page </li>
					<li>Able to nagivate through entire website using hyperlinks</li>
					<li>Pages have canonical URLs</li>
					<li>Pages have a meta description that accurately and succinctly describes the page</li>
					<li>The site is fast</li>
					<li>The site is mobile friendly</li>
					<li>Microdata is in place to help search engines</li>
					<li>Semantic HTML is used throughout</li>
					<li>Alt text is provided for images</li>
					<li>Carefully chosen keywords</li>
					<li>Sitemap used and submitted to search engines</li>
					<li>Includes detailed metadata</li>
					<li>All spelling and grammar is correct</li>
					<li>Site includes a robots.txt file</li>
					<li>Site includes a XML sitemap</li>
					<li>A title is used on all pages</li>
					<li>All img tags have an alternative text which describe the image visually</li>
				</ul>
			</div>


			<div class="col-lg-6">
				<div class="text-center" >
					<img src="/assets/security.svg" class="icon">
					<h2>Security</h2>
				</div>
				<ul>
					<li>All pages served over https</li>
					<li>Enforce strong passwords</li>
					<li>Protection against Cross-site scripting (XSS) attacks using Content Security Policy (CSP) </li>
					<li>Protection against Cross-Site Request Forgery (CSRF)</li>
					<li>Use CSP without allowing unsafe-* backdoors.</li>
					<li>Use minimal privilege for the database access</li>
					<li>SQL prepared statements</li>
					<li>Ensure all passwords are hashed using appropriate crypto</li>
					<li>Consider CAPTCHA on front-end APIs </li>
					<li>Cross-site scripting</li>
					<li>Cross-site request forgery</li>
					<li>Secure connection (SSL)</li>
					<li>HTTP Strict Transport Security</li>
					<li>Enable Content Security Policy </li>
					<li>Ensure all passwords are hashed</li>
					<li>Enforce password strength</li>
					<li>Implement simple but adequate password rules that encourage users to have long, random passwords.</li>
					<li>Use HTTPS on all webpages</li>
					<li>Use X-Frame-Option, X-XSS-Protection headers in client responses</li>
					<li>Use HSTS responses to force TLS only access. Redirect all HTTP request to HTTPS on the server as backup.</li>
					<li>Only use SQL prepared statements</li>
				</ul>
			</div>


			<div class="col-lg-6">
				<div class="text-center" >
					<img src="/assets/performance.svg" class="icon">
					<h2>Performance</h2>
				</div>
				<ul>
					<li>Images are not larger than necessary</li>
					<li>Use src-set for images</li>
					<li>Use icon sprites</li>
					<li>Minimize HTTP requests</li>
					<li>Use asynchronous loading for CSS and JavaScript files</li>
					<li>Defer javascript loading</li>
					<li>Using a faster DNS provider</li>
					<li>Enable browser caching</li>
					<li>Image files are compressed</li>
					<li>Lazy loading of images</li>
					<li>Files are minified</li>
					<li>Files are concatenated</li>
					<li>Optimize HTTP headers</li>
					<li>Google PageSpeed of at least 90% for all pages</li>
				</ul>
			</div>


			<div class="col-lg-6">
				<div class="text-center" >
					<img src="/assets/functionality.svg" class="icon">
					<h2>Functionality</h2>
				</div>
				<ul>
					<li>Consistent site navigation</li>
					<li>All forms work</li>
					<li>All pages are accessible</li>
					<li>Heading levels are easy to distinguish</li>
					<li>A clear visual hierarchy is used</li>
					<li>A favicon is used</li>
					<li>Site is works on mobiles, tablets and desktops</li>
				</ul>


				<div class="text-center" >
					<img src="/assets/security.svg" class="icon">
					<h2>Accessibility</h2>
				</div>
				<ul>
					<li>WAI-ARIA landmarks are used</li>
					<li>Color contrast passes WCAG AA (AAA for mobile)</li>
					<li>Website can be nagivated with only a keyboard</li>
					<li>All pages were tested in two or more screen readers</li>
					<li>Language attribute is declared to improve screen reader pronunciation</li>
				</ul>

			</div>

		</div>
	</div>

</section>


