<section id="tick-boxes" >
	<div class="container">

		<div class="my-3">
			<h1 class="text-center">My sites tick all the boxes</h1>
			<div class="underline">
				<img class="icon" src="assets/circle.svg">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="text-center" >
					<img src="/assets/seo.svg" style="width: 25px; vertical-align: inherit;">
					<h2>SEO</h2>
				</div>
				<ul>
					<li>Well chosen keywords</li>
					<li>Well written content</li>
					<li>alt-tag of your image</li>
					<li>Human readable urls</li>
					<li>No dead links</li>
					<li>Ability to navigate around the entire page via links</li>
					<li>Use robots.txt file</li>
					<li>Use sitemap.xml file</li>
					<li>Use description and content meta tags</li>
					<li>Semantic HTML</li>
					<li>Images are not larger than necessary</li>
					<li>Mobile and tablet friendly design</li>
				</ul>
			</div>
			<div class="col-lg-6">
				<div class="text-center" >
					<img src="/assets/functionality.svg" style="width: 25px; vertical-align: inherit;">
					<h2>Functionality</h2>
				</div>
				<ul>
					<li>Consistent site navigation</li>
					<li>All forms work</li>
					<li>All pages are accessible</li>
					<li>Are heading levels easy to distinguish?</li>
					<li>A clear visual hierarchy is used</li>
					<li>Favicon is used</li>
				</ul>
			</div>
			<div class="col-lg-6">
				<div class="text-center" >
					<img src="/assets/security.svg" style="width: 25px; vertical-align: inherit;">
					<h2>Security</h2>
				</div>
				<ul>
					<li>All pages served over https</li>
					<li>Enforce strong passwords</li>
					<li>Protection against Cross-site scripting (XSS) attacks using Content Security Policy (CSP) </li>
					<li>Protection against Cross-Site Request Forgery (CSRF)</li>
					<li>Use CSP without allowing unsafe-* backdoors.</li>
					<li>Use minimal privilege for the database access</li>
					<li>SQL prepared statements</li>
					<li>Ensure all passwords are hashed using appropriate crypto</li>
					<li>Consider CAPTCHA on front-end APIs </li>
				</ul>
			</div>
			<div class="col-lg-6">
				<div class="text-center" >
					<img src="/assets/performance.svg" style="width: 25px; vertical-align: inherit;">
					<h2>Performance</h2>
				</div>
				<ul>
					<li>Images are not larger than necessary</li>
					<li>Use src-set for images</li>
					<li>Use icon sprites</li>
					<li>Minimize HTTP requests</li>
					<li>Minify and combine files</li>
					<li>Use asynchronous loading for CSS and JavaScript files</li>
					<li>Defer JavaScript loading</li>
					<li>Reduce server response time by getting a faster DNS provider</li>
					<li>Enable file compression</li>
					<li>nable browser caching</li>
				</ul>
			</div>
		</div>

	</div>

</section>


