
<section class="container text-center">
	
	<div class="loader mx-auto" *ngIf="!posts"></div>	
	

	<div class="row" *ngIf="posts">
		<div class="col-12 blog">
			<div class="card" *ngFor="let post of posts | paginate: { itemsPerPage: 5, currentPage: p }">
				<a routerLink="/blog/{{post.slug}}">

					<div>
						<img class="card-img-top" src='{{post["_embedded"]["wp:featuredmedia"][0]["source_url"]}}' alt="Card image cap" />
					</div>


				</a>
				
				<a routerLink="/blog/{{post.slug}}">
					<h1>{{post.title.rendered}}</h1>
				</a>
				
				<div class="d-inline-block mr-3">
					<svg class="icon mr-2">
						<use xlink:href="assets/sprite.svg#calendar"></use>
					</svg>
					<small>{{ post.date | date }}</small>
				</div>

				<div class="d-inline-block mr-3">
					<svg class="icon mr-2">
						<use xlink:href="assets/sprite.svg#profile"></use>
					</svg>
					<small>By Pascale</small>
				</div>

				<div class="excerpt" [innerHTML]="post.excerpt.rendered"></div>
<!-- 				<a href="#">Continue reading &rarr;</a>
 -->				
			</div>
		</div>
	</div>
	
	<div class="row" *ngIf="posts">
		<div class="col-12 text-center">
			<pagination-controls (pageChange)="p = $event"></pagination-controls>
		</div>
	</div>


</section>

