
<section class="container text-center">
	
	<div class="loader mx-auto" *ngIf="!posts"></div>	
	

	<div class="row" *ngIf="posts">
		<div class="col-12 blog">

			<div class="card" *ngFor="let post of posts | paginate: { itemsPerPage: 5, currentPage: p }">
				
				<a routerLink="/blog/{{post.slug}}">
					<!-- Image -->
					<div *ngIf="post['_embedded']['wp:featuredmedia'][0]['source_url']" class="img-wrapper">
						<img
							class="w-100"
							src='{{post["_embedded"]["wp:featuredmedia"][0]["source_url"]}}'
							alt="Card image cap"
							#ev (load)="loadImg(ev)"
						/>
					</div>
					
					<!-- Title -->
					<h1>{{post.title.rendered}}</h1>
				</a>

				
				<div class="d-inline-block mr-3">
					<svg class="icon mr-2">
						<use xlink:href="assets/sprite.svg#calendar"></use>
					</svg>
					<small>{{ post.date | date }}</small>
				</div>

				<div class="d-inline-block mr-3">
					<svg class="icon mr-2">
						<use xlink:href="assets/sprite.svg#profile"></use>
					</svg>
					<small>By Pascale</small>
				</div>
				
				<div class="text-left">
					<div class="excerpt" [innerHTML]="post.excerpt.rendered"></div>
					<a routerLink="/blog/{{post.slug}}" class="continue-reading">Continue reading &rarr;</a>
				</div>
			
			</div>
		</div>
	</div>
	
	<div class="row" *ngIf="posts">
		<div class="col-12 text-center">
			<pagination-controls (pageChange)="p = $event" (click)="scrollUp()"></pagination-controls>
		</div>
	</div>


</section>

