/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body{
  color: black;
  width: 100%;
}

h1{
  margin: 0;
}


/* SVG ICONS */
.icon{
    width: 20px;
    height: 25px;
    fill: #00aeef;
}


/* LOADING ICON */
.loader {
  border: 9px solid #f3f3f3;
  border-radius: 50%;
  border-top: 9px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* HEADER UNDERLINES */

.fancy {
  line-height: 1;
  text-align: center;
}
    
.fancy span {
  display: inline-block;
  position: relative;  
}

.fancy span:before, .fancy span:after{
  content: "";
  position: absolute;
  height: 15px;
  border-bottom: 2px solid black;
  top: 0;
  width: 40px;
}
    
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
    
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
